This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [5]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'M8xxg6XZJjEhaaWy3cu-'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [17]:
# First, import the relevant modules
import json
import requests
import numpy as np
import pandas as pd

In [ ]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse

# into the JSON structure that will be returned

In [ ]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [43]:
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key=M8xxg6XZJjEhaaWy3cu-&start_date=2017-01-01&end_date=2017-12-31'
data = requests.get(url)
data_AFX_X = pd.DataFrame(data.json()['dataset']['data'])

In [44]:
data_AFX_X.columns= ['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover']

In [45]:
print(data_AFX_X.head())

         Date   Open   High    Low  Close  Change  Traded Volume   Turnover  \
0  2017-12-29  51.76  51.94  51.45  51.76     NaN        34640.0  1792304.0
1  2017-12-28  51.65  51.82  51.43  51.60     NaN        40660.0  2099024.0
2  2017-12-27  51.45  51.89  50.76  51.82     NaN        57452.0  2957018.0
3  2017-12-22  51.05  51.50  50.92  51.32     NaN        71165.0  3641949.0
4  2017-12-21  51.16  51.52  50.90  51.40     NaN       120649.0  6179433.0

  Last Price of the Day Daily Traded Units Daily Turnover
0                  None               None           None
1                  None               None           None
2                  None               None           None
3                  None               None           None
4                  None               None           None

In [64]:
# Calculate what the highest and lowest opening prices were for the stock in this period.
data_AFX_X.describe()['High']

count    255.000000
mean      43.702804
std        4.365667
min       34.120000
25%       41.580000
50%       43.550000
75%       46.195000
max       53.540000
Name: High, dtype: float64

In [63]:
data_AFX_X.describe()['Low']

count    255.000000
mean      42.924373
std        4.267225
min       33.620000
25%       41.045000
50%       42.620000
75%       45.390000
max       52.480000
Name: Low, dtype: float64

In [65]:
# largest change in any one day (based on High and Low price)?
data_AFX_X['Difference'] = data_AFX_X['High'] - data_AFX_X['Low']
data_AFX_X.describe()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Difference,diff_rows
count,252.000000,255.000000,255.000000,255.000000,1.00,255.000000,2.550000e+02,255.000000,254.000000
mean,43.344206,43.702804,42.924373,43.364157,-0.44,89124.337255,3.853589e+06,0.778431,0.062835
std,4.348585,4.365667,4.267225,4.321755,NaN,60441.130541,2.517807e+06,0.374060,0.529722
min,34.000000,34.120000,33.620000,34.060000,-0.44,45.000000,1.980000e+03,0.190000,-2.560000
25%,41.395000,41.580000,41.045000,41.400000,-0.44,56282.000000,2.388636e+06,0.520000,-0.190000
50%,43.450000,43.550000,42.620000,43.280000,-0.44,76286.000000,3.292223e+06,0.680000,0.020000
75%,45.857500,46.195000,45.390000,45.850000,-0.44,104479.000000,4.591904e+06,0.950000,0.325000
max,53.110000,53.540000,52.480000,53.090000,-0.44,670349.000000,2.591054e+07,2.810000,1.720000

In [68]:
#the largest change between any two days (based on Closing Price)?
data_AFX_X['diff_rows'] = data_AFX_X['Close'].diff(periods=-1)
data_AFX_X.describe()
min(data_AFX_X['diff_rows'])

-2.5599999999999952

In [56]:
# What was the average daily trading volume during this year?
data_AFX_X.describe()['Traded Volume']

count       255.000000
mean      89124.337255
std       60441.130541
min          45.000000
25%       56282.000000
50%       76286.000000
75%      104479.000000
max      670349.000000
Name: Traded Volume, dtype: float64

In [57]:
# What was the median trading volume during this year?
data_AFX_X.median()['Traded Volume']

76286.0